.record-filter-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 45px;
    /* display: block; */
}

.record-content-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 71vh;
}

.record-search-area{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.record-search-content, .record-switch-area{
    display: flex;
}

.record-search-content{
    flex: 1;
    min-width: max-content;
}

.record-switch-area{
    flex: 0.4;
    flex-direction: row-reverse;
    align-items: center;
}

#noResult{
    display: none;
    position: relative;
    width: max-content;
    top: 45%;
    left: 45%;
}

/* 
#searchBtn {
    height: 36px;
    padding: 0px !important;
} */