.rTarget-filter-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 45px;
}

.rTarget-content-area{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 71vh;
}

.top-grid-label{
    height: 50px;
}

.rTarget-search-area{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.rTarget-search-content, .rTarget-switch-area{
    display: flex;
}

.rTarget-search-content{
    flex: 1;
    min-width: max-content;
}

.rTarget-switch-area{
    flex: 0.4;
    flex-direction: row-reverse;
    align-items: center;
}

.equip-area{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding: 3px;
}

.MuiTypography-body1{
    font-size: small;
}

.top-content{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.bottom-content{
    flex: 0.6;
    position: relative;
}

.equip-btns{
    position: absolute;
    left: 125px;
    top: 15px;
}

.btn-group .repair-toggle-btn.btn{
    border-color: white;
    z-index: 0;
    line-height: 10px;
    padding: 10px 20px;
}

.btn-group .repair-toggle-btn.btn:hover {
    z-index: 0;
}

.repair-toggle-btn.active {
    background-color: #007bff !important;
    border-color: white !important;
    z-index: unset !important;
}

.repair-toggle-btn.focus:hover {
    background-color: unset;
}

.repair-toggle-btn.btn-secondary.focus{
    box-shadow: none;
}

#add_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    /* display: inline-grid; */
    display: none;
    left: 50%;
    top: 40%;
}

#del_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    /* display: inline-grid; */
    display: none;
    left: 50%;
    top: 60%;
}

.moveBtn {
	box-shadow: 0px 3px 4px -1px #a9b7d0;
	background-color:#62747d;
	border-radius:42px;
	border:1px solid #748892;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	/* padding:14px 14px; */
    text-decoration:none;
    opacity:0.6;
}
.moveBtn:hover {
	background-color:#3f4d67;
}
.moveBtn:active {
	position:relative;
	top:1px;
}

.included-row-in-target {
    background-color:  #eeeded !important;
}

/* #searchBtn {
    height: 36px;
    padding: 0px !important;
} */