/* @media (min-width: 576px)
.modal-dialog{
    max-width: unset !important;
} */

.window-full.modal-dialog{
    max-width: unset;
}

.modal.show .modal-dialog{
    transform: translate(0px, 0px) ;
}

.ag-header-group-cell-label, .ag-header-cell-label{
    justify-content: center;
} 