.info-area{
    overflow-x: scroll;
    height: 100%;
    padding-left: 15px;
}

table {
    border: 1px solid #a9b7d0; 
    border-collapse: collapse;
    text-align: center;
    width: max-content;
}

th, td {
    border: 1px solid #a9b7d0;  
    padding: 0px 4px;
}

th {
    background-color: #3f4d67;
    height: 30px;
    color: white;
}

td {
    width: max-content;
}

tbody>tr:nth-child(even){
    background-color: #f4f7fa; 
}

.selected-row{
    background-color: #74f1d2 !important;
}

.mouse-selected {
    background-color: violet !important;
}