.order1 {
    background-color: sandybrown !important;
  }

  .order2 {
    background-color: rgb(223, 248, 109) !important;
  }

  .order3 {
    background-color: rgb(180, 244, 96) !important;
  }

  .order4 {
    background-color: rgb(96, 214, 244) !important;
  }

  .grid-title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(62, 181, 193);
    margin-left: 5px;
    margin-bottom: 5px;
    width: fit-content;
    border-bottom: 1px solid;
  }
