.tab-div{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.vr{
    border-left: 2px solid #74889233;
    height: 70vh;
    display: inline-block;
}

.container{
    width: 100%;
    display: flex;
    max-width: unset !important;
}

.left{
    flex: 1;
}

.right{
    flex: 1;
}

/* .tab-content{
    height: 60vh;
} */

.video-react{
    height: 50vh;
}

.leftBtn, .rightBtn{
    border-radius: 50% !important;
    width: 64px;
    height: 64px;
    background-color: #0480f5 !important;
    border-color: #0480f5 !important;
}

.leftBtn{
    margin-right: 30px !important;
}

.rightBtn{
    margin-left: 30px;
    z-index: 1;
}

.route-section-info.tab-pane.active{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 30px;
    overflow: auto;
}

.tab-div.right .tab-content, .tab-div.left .tab-content{
    height: 60vh;
    position: relative;
}

.tab-div.left .tab-content .tab-pane{
    height: 100%;
}

.title-label{
    font-weight: bold;
    font-size: 11pt;
    color: black;
}

/* .view-container{
    position: relative;
    overflow: auto;
    margin-bottom: 15px;
    border: 3px solid #C4DCF0;
    border-radius: 10px;
    padding: 10px;
} */

/* .view-area{ */
    /* min-width: 1050px; */
    /* height: 50px; */
    /* display: contents; */
    /* flex: 1; */
    /* flex-direction: flex-start; */
    /* align-items: flex-start; */
    /* position: relative; */
/* } */

.default-color{
    background-color: #8e8c8c;
}

.default-vertical{
    height: 30px;
    width: 3px;
}

/* .default-horizontal{
    height: 4px;
} */

.event-node{
    height: 12px;
    width: 12px;
    background-color: #f8faff;
    border: 2px solid #d40909;
    border-radius: 10px;
    margin-top: -4px;
    /* z-index: 1; */
    position: absolute;
    transform: translateX(-6px);
}

.target-10m-node{
    height: 12px;
    width: 12px;
    background-color: #f8faff;
    border: 2px solid #ffc107;
    border-radius: 10px;
    margin-top: -4px;
    /* z-index: 1; */
    position: absolute;
    transform: translateX(-6px);
}

.event-node-area{
    z-index: 1;
    position: relative;
}

.rs-target-node-area{
    z-index: 2;
    position: relative;
}

/* .target-horizontal{
    height: 4px;
} */
.lane-horizontal{
    height: 25px;
}

.center-line{
    height: 4px;
}

.target1, .target2, .target3, .target4, 
.target5, .target6, .target7, .ts-section-color{
    position : relative;
}

.ts-section-color{
    background-color: #145DBF;
}

.target-10m{
    background-color: yellow;
}

.target1{
    background-color: tomato;
}

.target2{
    background-color: #1b94cc;
}

.target3{
    background-color: #1DE9B6;
}

.target4{
    background-color: darksalmon;
}

.target5{
    background-color: khaki;
}

.target6{
    background-color: hotpink;
}

.target7{
    background-color: olive;
}

.start-ext{
    position: absolute;
    top: 30px;
    font-size: 12px;    
}

.end-ext{
    position: absolute;
    top: 30px;
    font-size: 12px;
    right: 0;
}

.dir-up-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    /* align-items: center; */
    height: 24px;
}

.dir-down-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
}

.center-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 4px;
    align-items: flex-start;
}

/* .dir-btn{
    border-radius: 50px;
    display: inline;
    flex: 1;
} */

.ms-label{
    display: block;
    margin-bottom: 15px;
    /* margin-top: 10px; */
}

.label-top-margin{
    margin-top : 25px;
}

.enter-line{
    display: block;
}

.line-container{
    display: flex;
    /* background-color: blueviolet; */
    flex: 100;
    position: relative;
    
    height: 20px;
}

.dir-down-div{
    border-top: 2px solid #181306;
}

.dir-up-div{
    border-bottom: 2px solid #181306;
}

.target-label{
    position : absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: bold;
    line-height: 2;
}

.road-section-line-color{
    background-color: #37474f;
}

.dir-btn-hidden{
    visibility: collapse;
}

.dir-text{
    font-weight: bold;
    color: black;
    border: 2px solid #0b709e;
    border-radius: 50px;
    padding: 1px;
    margin-right: 8px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.rs-event-node-label-top{
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    color: black;
    margin-top: -20px;
    margin-right: -100px;
}

.target-node-label-bottom{
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    color: black;
    margin-top: 8px;
    /* margin-right: -100px; */
    color: brown;
    margin-left: -12px;
}

.start-label{
    color:black;
    position: absolute;
    top: 15px;
    font-size: 8px;
    font-weight: bold;
}

.end-label{
    color:black;
    position: absolute;
    top: 15px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
}

.movie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.movie-play-btn{
    background-color: #17A2B8;
    border-color: #17A2B8;
    margin: 5px;
    height: 45px;
    width: 45px;
    padding: unset;
    border-radius: 50%;
}

.start-stop-btn{
    background-color: teal;
    border-color: teal;
}

.movie-btn-area{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-area{
    flex: 1;
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .tab-content{
    padding: unset;
}

.tpms-ai-canvas{
    position: absolute;
    /* background-color: teal; */
    height: 520px;
    width: 201px;
}

.tpms-ai-element{
    position:absolute;
    background-color: red;
    opacity: 0.4;
}