#savedMemo-modal{
    display: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    /* transform: translate(-50%, -50%); */
    width: max-content;
}

.memo-header{
    border-bottom: 1px solid #dee2e6;
}

#memo-title{
    padding: 16px;
    margin: 0;
}

.memo-body{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* height: 48vh; */
    border-bottom: 1px solid #dee2e6;
    padding: 16px;
}

.memo-row{
    flex: 1;
    text-align: center;
    margin-bottom: 8px;
}

.search-dropdown-label{
    margin-right: 10px !important;
}

.memo-label{
    width: 93px;
    display: inline-flex;
}

.memo-text-input{
    width: 380px;
    display: inline-block;
    padding: 6px;
}

#m-title{
    height: 38px;
}

#m-content{
    height: 300px;
}

.radio-group{
    display: inline-block;
    width: 380px;
    text-align: left;
    padding-left: 25px;
}

.radio-sub{
    display: inline-block;
    width: 150px;
    /* text-align: left;
    padding-left: 25px; */
}
.radio-label{
    width:100px;
}

.memo-alerm{
    width: 20vh;
    display: inline-block;
    padding: 6px;
}

#memo-date{
    margin-right: 7px;
}

#file-input-group{
    width: 41vh;
    display: inline-flex;
}

.memo-footer{
    padding: 16px;
    display: flex;
    justify-content: center;
}

