/* .popover-body {
    min-width: 276px;
  }

#popup {
    border: 1px solid red;
} */

.blue-circle {
    width: 30px;
    height: 30px;
    border: 1px solid #088;
    border-radius: 15px;
    background-color: #0FF;
    opacity: 0.5;
    z-index: 9999; /* Watch out for this!!! */
  }

  #memo-modal{
    display: none;
}

.progress-panel{
  text-align: center;
  color: black;
  font-weight: bold;
}

#progress-container{
  height: 185px;
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  bottom: 0;
  padding: 5px 10px;
  overflow: auto;
}

.progress-target-label{
  display: block;
  margin: unset;
  padding: unset;
}

.progress-target{
  font-size: medium;
  color: darkblue;
}

#progress-hidden-container{
    position: absolute;
    right: 5px;
    bottom: 0;
    /* background-color: white;
    border: 3px solid #028ccc;
    border-radius: 10px;
    color: black;
    padding: 8px;
    line-height: 0;
    font-weight: 600; */
}

.progress-label{
  display: block;
  font-size: xx-small;
}

.circle-progress-set{
  display: flex;
  margin-bottom: 3px;
}

.progress-close-btn{
  background-color: rgb(23, 162, 187);
  border-color: rgb(23, 162, 187);
  font-size: xx-small;
  width: 35px;
  height: 20px;
  padding: unset;
  position: fixed;
  right: 17px;
  z-index: 1;
}

.complete-label{
  border: 5px solid #04a9f5;
  padding: 10px;
  border-radius: 30px;
}