.title-label{
    font-weight: bold;
    font-size: 11pt;
    color: black;
}

.view-container{
    position: relative;
    overflow: auto;
    margin-bottom: 15px;
    border: 3px solid #C4DCF0;
    border-radius: 10px;
    padding: 10px;
}

.view-area{
    /* min-width: 1050px; */
    height: 50px;
    display: contents;
    /* flex: 1; */
    /* flex-direction: flex-start; */
    /* align-items: flex-start; */
    position: relative;
}

.default-color{
    background-color: #8e8c8c;
}

.default-vertical{
    height: 30px;
    width: 3px;
}

/* .default-horizontal{
    height: 4px;
} */

.event-node{
    height: 12px;
    width: 12px;
    background-color: #f8faff;
    border: 2px solid #d40909;
    border-radius: 10px;
    margin-top: -4px;
    /* z-index: 1; */
    position: absolute;
    transform: translateX(-6px);
}

.event-node-area{
    z-index: 1;
    position: relative;
}

/* .target-horizontal{
    height: 4px;
} */
.lane-horizontal{
    height: 25px;
}

.center-line{
    height: 4px;
}

.target1, .target2, .target3, .target4, 
.target5, .target6, .target7{
    position : relative;
}

.target1{
    background-color: tomato;
}

.target2{
    background-color: #1b94cc;
}

.target3{
    background-color: #1DE9B6;
}

.target4{
    background-color: darksalmon;
}

.target5{
    background-color: khaki;
}

.target6{
    background-color: hotpink;
}

.target7{
    background-color: olive;
}

.start-ext{
    position: absolute;
    top: 30px;
    font-size: 12px;    
}

.end-ext{
    position: absolute;
    top: 30px;
    font-size: 12px;
    right: 0;
}

.dir-up-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    /* align-items: center; */
    height: 24px;
}

.dir-down-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
}

.center-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 4px;
    align-items: flex-start;
}

/* .dir-btn{
    border-radius: 50px;
    display: inline;
    flex: 1;
} */

.ms-label{
    display: block;
    margin-bottom: 15px;
    /* margin-top: 10px; */
}

.label-top-margin{
    margin-top : 25px;
}

.enter-line{
    display: block;
}

.line-container{
    display: flex;
    /* background-color: blueviolet; */
    flex: 100;
    position: relative;
    
    height: 20px;
}

.dir-down-div{
    border-top: 2px solid #181306;
}

.dir-up-div{
    border-bottom: 2px solid #181306;
}

.target-label{
    position : absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: bold;
    line-height: 2;
}

.center-line-color{
    background-color: #ffee00;
}

.dir-btn-hidden{
    visibility: collapse;
}

.dir-text{
    font-weight: bold;
    color: black;
    border: 2px solid #0b709e;
    border-radius: 50px;
    padding: 1px;
    margin-right: 8px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.event-node-label-top{
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    color: black;
    margin-top: -15px;
    margin-right: -100px;
}

.event-node-label-bottom{
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    color: black;
    margin-top: 8px;
    margin-right: -100px;
}

.start-label{
    color:black;
    position: absolute;
    top: 25px;
    font-size: 8px;
    font-weight: bold;
}

.end-label{
    color:black;
    position: absolute;
    top: 25px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
}