.pcoded-header .dropdown .dropdown-toggle:after{
    right: 0 !important;
}

.pcoded-header .dropdown .dropdown-toggle{
    min-width: 90px;
}

.dropdown{
    display: inline-block;
    /* min-width: 70px; */
    margin-right: 5px;
}

.pcoded-header .dropdown.show:before{
    left: 20px !important;
}

a{
    cursor: pointer;
}

span{
    user-select: none;
}