#add_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    display: none;
    left: 50%;
    top: 40%;
}

#del_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    display: none;
    left: 50%;
    top: 60%;
}

.moveBtn {
	box-shadow: 0px 3px 4px -1px #a9b7d0;
	background-color:#62747d;
	border-radius:42px;
	border:1px solid #748892;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 14px;
    text-decoration:none;
    opacity:0.6;
}
.moveBtn:hover {
	background-color:#3f4d67;
}
.moveBtn:active {
	position:relative;
	top:1px;
}

.included-row-in-target {
    background-color:  #eeeded !important;
}
