.sm-filter-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 45px;
}

.sm-content-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 67vh;
}

.sm-bottom-content{
    flex: 0.6;
    position: relative;
}

.sm-equip-btns{
    position: absolute;
    left: 90px;
    top: -6px;
}
.equipAll-btns{
    position: relative;
    top: 26px;
    margin-left: 80px;
}

.equip2-btns{
    position: relative;
    top: 26px;
    margin-left: 105px;
}

/* .btn-group .btn{
    z-index: 0;
} */

.equip1-btns{
    position: absolute;
    margin-top: -6px;
    margin-left: 105px;
}

.none{
    display: none;
}

.top-grid-label{
    height: 50px;
}

.sm-search-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.sm-search-content, .sm-switch-area{
    display: flex;
}

.sm-search-content{
    flex: 1;
}

.sm-switch-area{
    flex: 0.3;
}

.equip-area{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding: 3px;
}