.sTarget-filter-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 45px;
}

.sTarget-content-area{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 72vh;
}

.sTarget-search-area{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sTarget-search-content, .sTarget-switch-area{
    display: flex;
}

.sTarget-search-content{
    flex: 1;
    min-width: max-content;
}

.sTarget-switch-area{
    flex: 0.4;
    flex-direction: row-reverse;
    align-items: center;
}

#add_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    display: inline-grid;
    left: 50%;
    top: 40%;
}

#del_btn {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    display: inline-grid;
    left: 50%;
    top: 60%;
}


.moveBtn {
	box-shadow: 0px 3px 4px -1px #a9b7d0;
	background-color:#62747d;
	border-radius:42px;
	border:1px solid #748892;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 14px;
    text-decoration:none;
    opacity:0.6;
}
.moveBtn:hover {
	background-color:#3f4d67;
}
.moveBtn:active {
	position:relative;
	top:1px;
}


.included-row-in-target {
    background-color:  #eeeded !important;
}
