.nav-link label{
    width: 100%;
}

/* .form-group {
    padding: 5px 0px 5px 70px !important;
} */

.legend{
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

.tpms-gray{
    background-color: gray;
}

.tpms-blue{
    background-color: #4834D4;
}

.tpms-sky{
    background-color: #22A6B3;
}

.tpms-green{
    background-color: #6AB04D;
}

.tpms-yellow{
    background-color: #F9CA24;
}

.tpms-red{
    background-color: #EB4D4A;
}

.tpms-color1{
    background-color: #307872;
}

.tpms-color2{
    background-color: #008744;
}

.tpms-color3{
    background-color: #740001;
}

.tpms-color4{
    background-color: #9E37A0;
}

.tpms-color5{
    background-color: #666547;
}

.tpms-color6{
    background-color: #BE9C78;
}

.check-label{
    color: #a9b7d0 !important;
}

