.body-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 38vh;
}

.row-area{
    flex: 1;
    text-align: center;
}

.search-dropdown-label{
    margin-right: 10px !important;
}

.mthistory-label{
    width: 85px;
    display: inline-flex;
}

.mthistory-text-input{
    width: 380px;
    display: inline-block;
    padding: 6px;
}

.mthistory-number-input{
    width: 59px;
    display: inline-block;
    padding: 6px;
    text-align: right;
}

.sd-span{
    margin: unset;
}

.cm-label{
    margin-right: 8px;
    font-size: 12px;
    vertical-align: sub;
    font-weight: bold;
}

.mthistory-price-input{
    width: 380px;
    display: inline-block;
    padding: 6px;
    text-align: right;
}